body {
  user-select: none;
  background-color: grey;
  position: relative;
  app-region: drag;
  height: 100vh;
  overflow-y: hidden;
}

button {
  app-region: no-drag !important;
}

#root {
  height: 100%;
  width: 100%;
}
