body {
  user-select: none;
  position: relative;
  app-region: drag;
  height: 100dvh;
  overflow-y: hidden;
  transition: background-color 0.3s ease-in-out;
}

body.transparent-background {
  background-color: transparent !important;
}

button {
  app-region: no-drag !important;
}

#root {
  height: 100%;
  width: 100%;
}
